AlignAfterOpenBracket: Align
AlignTrailingComments: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Linux
ColumnLimit: 80
ContinuationIndentWidth: 4
ForEachMacros: [wl_list_for_each, wl_list_for_each_safe, wl_list_for_each_reverse]
IndentWidth: 4
ReflowComments: true
SortIncludes: true
SpaceAfterCStyleCast: true
TabWidth: 4
UseTab: Always
